-- This configuration file is written in the lua language
-- More details about lua here: http://www.lua.org/manual/5.1/

-- comments are prefixed by double dashes

spk = {

	-- the query sock is used by many programs in the spk family
	query_socket = "ipc:///tmp/query.zmq",

	-- the broadband and events socks are used by spk alone
	broadband_socket = "ipc:///tmp/broadband.zmq",
	events_socket = "ipc:///tmp/events.zmq",

	-- these are used by spk for binning spikes
	fifo_in = "/tmp/spk_in.fifo",
	fifo_out = "/tmp/spk_out.fifo",
	mmap_bin = "/tmp/binned.mmap",
}

pulser = {
	socket = "ipc:///tmp/pulser.zmq",
	num_stim_chans = 16,
	num_simultaneous = 3,
	pulse_dt = 0.003,
}